EXPO_PUBLIC_CONTRACT_ADDRESS=SP1N3809W9CBWWX04KN3TCQHP8A9GN520BD4JMP8Z
EXPO_PUBLIC_CONTRACT_NAME=habit-tracker-v2
EXPO_PUBLIC_HIRO_API_BASE_URL=https://api.mainnet.hiro.so
EXPO_PUBLIC_STACKS_NETWORK=mainnet
